.letters {
  display: flex;
  justify-content: center;
}
.letters p {
  text-align: center;
  width: 25px;
  height: 25px;
  padding: 30px;
  margin: 10px;
  background-color: rgb(64, 64, 255);
  border-radius: 5px;
  color: white;
  font-size: larger;
  box-shadow: 0px 2px 2px 2px lightblue;
}
.form_guess {
  text-align: center;
}
